* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#canvas {
  background-color: rgba(17, 17, 36, 0);
}
